.float-out-div{
    display: none;
    width: 400px;
    height: 200px;
    border: 1px solid black;
    position: fixed;
    top: calc(50vh - 100px);
    left: calc(50vw - 200px);
    font-family: Microsoft YaHei,sans-serif;
    z-index: 100;
}
.fod-title{
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    background: royalblue;
    color: white;
    padding: 8px;
}
.fod-container{
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    padding: 8px;
    background-color: white;
}
.fod-button-container{
    width: 60%;
    height: 20%;
    position: absolute;
    right: 8px;
    bottom: 8px;
}
.fod-button{
    width: calc(50% - 8px);
    height: 100%;
    float: left;
    margin-left: 8px;
    background-color: royalblue;
    color: white;
    border: none;
    font-family: Microsoft YaHei,sans-serif;
}
.fod-button:hover{
    background-color: orange;
    cursor: pointer;
}
.mask{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    display: none;
    z-index: 99;
}