*{
    margin: 0;
    padding: 0;
    font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}

li{
    list-style: none;
}
button:focus{
    outline: none;
}
/*Web字体*/
@font-face{
    font-family: "Lobster";
    src: url("../fonts/Lobster-Regular.ttf");
}
#brand,#head-title{
    font-family: "Lobster",serif;
}

/*导航栏*/
nav,#brand,nav > ul,nav li{
    display: inline-block;
    height: 60px;
}
nav{
    width: 100%;
    position: relative;
    /*box-shadow: 0 3px 4px #888888;*/
    border-bottom: 1px solid rgb(236, 237, 240);
}
nav > ul{
    float: right;
    margin-right: 30px;
}

#brand{
    line-height: 60px;
    font-size: 20px;
    margin-left: 60px;
    cursor: pointer;
}
nav li{
    margin-right: 30px;
    font-size: 16px;
    letter-spacing: 0.8px;
    vertical-align: middle;
}
nav a{
    line-height: 60px;
    text-decoration: none;
    color: rgb(68, 114, 196);
}
#read-document{
    background-color: rgb(68,114,196);
    color: white;
    padding: 12px;
    border-radius: 10px;
    /*box-shadow: 0px 5px 9px rgb(30,30,30);*/
    transition: all,0.2s;
}
/*导航栏hover效果*/
#read-document:hover{
    background-color: rgb(48, 94, 176);
}
.hover-underline{
    position: relative;
}
.hover-underline::before{
    content:" ";
    display: block;
    border-bottom: 2px solid rgb(68, 114, 196);
    /*border-bottom: 3px solid rgb(235,86,92);*/
    position: absolute;
    left: 50%;
    top: 5px;
    width: 0%;
    height: 100%;
    transition: width 0.2s,left 0.2s;
}
.hover-underline:hover::before{
    width: 100%;
    left: 0%;
}
#menu{
    display: none;
}

/*工作区布局*/
#working-area{
    width: 100%;
    height: calc(100vh - 61px);
    background-color: rgb(252,252,252);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    /*padding-top: 40px;*/
}
#mindmap{
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.2s;
}
.info-div{
    width: 25%;
    box-shadow: 0 0px 21px #9f9f9f;
    border-radius: 4px;
    position: absolute;
    right: 40px;
    padding: 10px;
    transition: right 0.4s;
}
#topic-intro,.info-div ul{
    display: inline-block;
    max-height: 80%;
    overflow: auto;
}
.info-div p{
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(68, 114, 196);
    margin-bottom: 5px;
}
.info-div p span{
    color: rgb(68, 114, 196);
    /*font-weight: bold;*/
    font-size: 25px;
}
.info-div{
    color: rgb(70,70,70);
    font-size: 16px;
    line-height: 1.6;
}
.info-div-btn{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: white;
    opacity: 0.7;
    box-shadow: 0 0px 21px #9f9f9f;
    color: rgb(68, 114, 196);
    font-size: 22px;
    font-weight: bold;
    
    position: absolute;
    top: calc(50% - 25px);
    left: -25px;
    /*transform: translateX(-50%);*/

    transition: all 0.4s;
    cursor: pointer;
}
.info-div-btn:hover{
    border: 1px solid rgb(68, 114, 196);
    opacity: 1;
}
#topic-container{
    height: 25%;
    top: 40px;
}
#contributor-container{
    height: 20%;
    top: calc( 80px + 25% );
}
#news-container{
    height: 38%;
    top: calc( 120px + 45% );
}

/*参与成员列表*/
#contributor-container li{
    display: inline-block;
    margin-right: 10px;
}
.admin{
    color: rgb(235,86,92);
    /*color: rgb(245,205,32);*/
    /*color: red;*/
    font-weight: bold;
}
.admin:after{
    content:"(Admin)";
}
.me{
    color: rgb(68, 114, 196);
    font-weight: bold;
}
.me:after{
    content:"(You)";
}
/*放大和缩小按钮*/
.mindmap-func{
    position: absolute;
    left: 40px;
    bottom: 30px;
    color: white;
    font-size: 25px;

    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: rgb(235,86,92);
    cursor: pointer;
    border: none;
    transition: all 0.2s;
    box-shadow: 0 0px 7px #afafaf;

}
.mindmap-func:hover{
    background-color: rgb(215,66,72);
}
#scale-map-expand{
    left: 60px;
}
#scale-map-compress{
    left: 120px;
}
#mindmap-to-png{
    left: 180px;
}
.png{
    position: absolute;
}
/*svg*/
svg{
    /*width: 100%;*/
    /*height: 100%;*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.message{
    /*display: hidden;*/
}
/*层级结构*/
nav{z-index: 200;}
#working-area{z-index: 10;}
.mindmap-func{z-index: 150;}
.info-div{z-index: 160;}
#mindmap{z-index: 140;}
@media (max-width: 756px){
    /*在小尺寸屏幕上导航栏重布局*/
    nav{
        position: absolute;
        height: 60px;
        overflow: hidden;
        border-bottom: none;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(236, 237, 240);
        transition: all 0.2s;
    }
    #working-area{
        position: absolute;
        top: 60px;
    }
    nav.expand{
    /*nav:hover{*/
        /*点击后伸展开的导航栏*/
        height: 180px;
        background-color: rgba(255,255,255,.9);
    }
    nav.expand>#brand,nav.expand>#menu,{
    /*nav:hover>#brand,nav:hover>#menu{*/
        opacity: .5;
    }
    nav.expand li:nth-child(1),nav.expand li:nth-child(3){
    /*nav:hover li:nth-child(1),nav:hover li:nth-child(3){*/
        background-color: rgba(68,114,196,.1);
    }
    #brand{
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        margin-left: 0;
    }
    nav>ul,nav li{
        width: 100%;
        height: 30px;
        font-size: 14px;
        text-align: center;
        margin-right: 0;
    }
    nav a{
        /*color: white;*/
        line-height: 30px;
    }
    #read-document{
        border: none;
        color: rgb(68,114,196);
        box-shadow: none;
        background-color: transparent;
    }
    #read-document:hover{
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
    #menu{
        display: block;
        width: 40px;
        height: 60px;
        line-height: 60px;
        border: none;
        background: transparent;
        position: absolute;
        right: 10px;
        font-size: 20px;
        color: rgb(0,0,0);
        text-shadow: 0px 0px 7px rgb(30,30,30);
    }
}