<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Online Mindmap</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/css/index.css" rel="stylesheet">
        <link href="../static/css/float_out_window.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
        <script src="../static/js/create_room.js"></script>
        <!--<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css"/>-->
    </head>
    <body>
        <div id="fod-mask"></div>
        <!--<div class="float-out-div" id="create-room">
            <div class="fod-title">创建房间</div>
            <div class="fod-container">
                <form>
                    <p><label for="creator_id">创建者ID</label></p>
                    <input type="text" placeholder="ID(15个字以内)" required maxlength="15">
                    <p><label for="room_title">房间名</label></p>
                    <input type="text" placeholder="房间名(15个字以内)" required maxlength="15">
                    <p><label for="topic_intro">话题简介</label></p>
                    <textarea id="topic-intro" placeholder="简介(200字以内)" cols="30" rows="10" required maxlength="200"></textarea>
                </form>
                <div class="fod-button-container">
                    <button class="fod-button fod-btn-confirm" id="create-room-confirm">确定</button>
                    <button class="fod-button fod-btn-cancel">取消</button>
                </div>
            </div>
        </div>-->

        <div id="background-img"></div>
        <nav>
            <span id="brand"><i class="fa fa-superpowers"></i> Brainchild</span>
            <ul>
                <li><a href="#" class="hover-underline">发现</a></li>
                <li><a class="hover-underline" target="_blank" href="https://github.com/HE1HE/Brainchild">GITHUB</a></li>
                <li><a href="#" id="read-document">阅读文档</a></li>
            </ul>
        </nav>
        <div id="center-block">
            <span id="head-title">Brainchild</span>
            <p>一个基于思维导图的合作式创意孵化平台</p>
            <div id="btn-set">
                <button id="create-mindmap"><i class="fa fa-paper-plane"></i> 创建导图</button>
                <button id="join-work"><i class="fa fa-sign-in"></i> 加入工作</button>
            </div>
        </div>
    </body>
</html>