<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Online Mindmap</title>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/css/index.css" rel="stylesheet">
        <link href="../static/css/float_out_window.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <script  src="../static/js/jquery-3.1.1.min.js"></script>
        <script charset="UTF-8" src="../static/js/index.js"></script>
        
        <script src="../static/js/request.js"></script>
    </head>
    <body>
        <div id="fod-mask"></div>
        <div id="background-img"></div>
        <nav>
            <button id="menu"><i class="fa fa-bars"></i></button>
            <span id="brand"><i class="fa fa-superpowers"></i> Brainchild</span>
            <ul>
                <li><a href="#" class="hover-underline">发现</a></li>
                <li><a class="hover-underline" target="_blank" href="https://github.com/HE1HE/Brainchild">GITHUB</a></li>
                <li><a href="#" id="read-document">阅读文档</a></li>
            </ul>
        </nav>
        <div id="center-block">
            <span id="head-title">Brainchild</span>
            <p>一个基于思维导图的合作式创意孵化平台</p>
            <div id="btn-set">
                <button id="create-mindmap"><i class="fa fa-paper-plane"></i> 创建导图</button>
                <button id="join-work"><i class="fa fa-sign-in"></i> 加入工作</button>
            </div>
        </div>
    </body>
</html>
