<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/css/room.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    </head>
    <body>
        <nav>
            <span id="brand"><i class="fa fa-superpowers"></i> Brainchild</span>
            <ul>
                <li><a href="#" class="hover-underline">发现</a></li>
                <li><a class="hover-underline" target="_blank" href="https://github.com/HE1HE/Brainchild">GITHUB</a></li>
                <li><a href="#" id="read-document">阅读文档</a></li>
            </ul>
        </nav>
        <div id="working-area">
            <div id="topic-container" class="info-div">
                <p><span id="topic-title">话题TOPIC</span></p>
                <span id="topic-intro">话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描，述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话题描述话。</span>
            </div>
            <div id="contributor-container" class="info-div">
                <p><span id="contributor-title">参与成员</span></p>
                <ul>
                    <li class="contributor admin"><i class="fa fa-user-circle"></i> 王铁柱</li>
                    <li class="contributor"><i class="fa fa-user-circle"></i> 田二妞</li>
                    <li class="contributor"><i class="fa fa-user-circle"></i> Genji</li>
                    <li class="contributor"><i class="fa fa-user-circle"></i> Ana</li>
                    <li class="contributor"><i class="fa fa-user-circle"></i> Pharah</li>
                </ul>
            </div>
            <div id="news-container" class="info-div">
                <p><span id="news">最新动态</span></p>
                <ul>
                    <li>[22:13] 管理员通过了 <strong>王铁柱</strong> 的IDEA:IDEA TITLE</li>
                    <li>[22:10] 管理员通过了 <strong>田二妞</strong> 的IDEA:IDEA TITLE</li>
                    <li>[22:09] 管理员通过了 <strong>Genji</strong> 的IDEA:IDEA TITLE</li>
                </ul>
            </div>
        </div>
    </body>
</html>